[Unit]
Description=My Custom Startup Program
After=network.target
 
[Service]
Type=simple
ExecStart=/home/menu/portTest
 
[Install]
WantedBy=multi-user.target